
#text-register {
  text-align: center;
  color: #40AFFF;
  font-family: 'Abril Fatface', cursive;
  border-top: 2px solid #F29F24;
}

#labelFamily{
  font-family: 'Merriweather', serif;
  color: #40AFFF;
  font-size: 20px;


}

.btn {
  color: #259DF2;
  font-family: 'Merriweather', serif;
  border-color: #F29F24;
}

#selectFamily {
  font-family: 'Merriweather', serif;
  border: 1px solid #F29F24;
  font-size: 16px;

}
.table-family{
  font-family: 'Merriweather', serif;
  background: #0C66A6;
  color: snow;
  font-size: 20px;
  text-align: center
}

.scope-style{
  color: #0C66A6;
  font-family: 'Merriweather', serif;
   border-bottom:2px solid #F29F24;
  text-align: center;
}
