<div class="container">

  <div class="mt-3 p-3">

    <h1  id="text-register">Usuario Administrador</h1>

  </div>

  <form [formGroup]="validationRegister">
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label class="labels-input" for="name">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" id="name" formControlName="name" autofocus>
        <div *ngIf="validationRegister.controls['name'].invalid && validationRegister.controls['name'].dirty"
             class="alert alert-danger" role="alert">
          <span *ngIf="validationRegister.controls['name'].errors.required">Campo nombre obligatorio </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="lastName">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" id="lastName" formControlName="lastName"
               autofocus>
        <div *ngIf="validationRegister.controls['lastName'].invalid && validationRegister.controls['lastName'].dirty"
             class="alert alert-danger" role="alert">
          <span>Campo apellido obligatorio </span>
        </div>
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-6">
        <label class="labels-input" for="password">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" id="password" formControlName="password"
               autofocus>
        <div *ngIf="validationRegister.controls['password'].invalid &&( validationRegister.controls['password'].touched ||
          validationRegister.controls['password'].dirty)">
          <div *ngIf="validationRegister.controls['password'].errors.required" class="alert alert-danger" role="alert">
            <span>Campo de contraseña obligatorio </span>

          </div>
          <div
            *ngIf="validationRegister.controls['password'].errors.minlength || validationRegister.controls['password'].errors.maxlength "
            class="alert alert-danger" role="alert">
            <span>Formato incorrecto: </span>Debe contener caractéres alfanuméricos y con longitud min 8 y máx de 20

          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="rePassword">Repetir contraseña</label>
        <input type="password" class="form-control" placeholder="Repetir contraseña" id="rePassword"
               formControlName="rePass" autofocus>
        <div *ngIf="checkPassword()" class="alert alert-danger " role="alert">
          <span>Contraseña no coincide: </span>Revise que las contraseñas sean iguales
        </div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="form-group col-md-6">
        <label class="labels-input" for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email" autofocus>
        <div *ngIf="validationRegister.controls['email'].invalid &&( validationRegister.controls['email'].touched ||
          validationRegister.controls['email'].dirty)" class="alert alert-danger" role="alert">
          <span>Campo email obligatorio </span>

        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="reEmail">Repetir email</label>
        <input type="email" class="form-control" placeholder="Repetir email" id="reEmail" formControlName="reEmail"
               autofocus>
        <div *ngIf="checkEmail()" class="alert alert-danger" role="alert">
          <span>Email no coincide </span>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="form-row mt-3 justify-content-center">
        <div class="col-md-6">
          <label class="labels-input" for="nameHome">Nombre de la casa</label>
          <input type="text" class="form-control" placeholder="Nombre de la casa" id="nameHome" formControlName="nameHome" autofocus>
          <div *ngIf="validationRegister.controls['nameHome'].invalid && validationRegister.controls['nameHome'].dirty"
               class="alert alert-danger" role="alert">
            <span *ngIf="validationRegister.controls['nameHome'].errors.required">Campo obligatorio </span>
          </div>
        </div>
      </div>


    </div>
    <div class="form-row justify-content-center mt-4 ">

      <button class="btn btn-outline-primary" type="button" (click)="validationRegister.invalid">Aceptar</button>

      <button class="btn btn-outline-primary" type="button" routerLink="/">Volver</button>


    </div>
  </form>


</div>
