<div class="container">
  <div class="row mt-3 justify-content-center">

    <img src="../../../assets/homework_200x200.png" class="figure-img img-thumbnail " alt="Responsive image"
         id="image-logo">

  </div>
  <div class="display-1 mt-5 justify-content-center">

    <p id="text-login">Login</p>

  </div>

  <div class="form-row mt-5 justify-content-center">
    <form class="needs-validation" novalidate>
      <div class="form-group">

        <input type="email" class="form-control col-form-label-lg" id="inputEmail"
               placeholder="Email del usuario" required>


      </div>

      <div class="form-group mt-5">

        <input type="password" class="form-control col-form-label-lg" id="inputPassword"
               placeholder="Contraseña del usuario" required>

      </div>
      <div class="row mt-5 justify-content-center mx-5">
        <div class="c col-md ">
          <button class="btn button-login" type="submit">Aceptar</button>

        </div>
        <div class="col-md ">

          <button class="btn button-login" type="submit">Regístrate</button>

        </div>
      </div>

    </form>


  </div>


</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
