

#text-register {
  text-align: center;
  color: #40AFFF;
  font-family: 'Abril Fatface', cursive;
  border-bottom: 2px solid #F29F24;

}

#check-tasks {
  font-family: 'Merriweather', serif;
  color: #40AFFF;
  font-size: 18px;
  border-bottom: 2px solid #F29F24;

}

.btn {
  color: #259DF2;
  font-family: 'Merriweather', serif;
  border-color: #F29F24;
}


