
#menu-links {
  background: #3083BF;
  height: 75px;
  align-items: center;
}

.menu-items{

  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  color:#399EE6;
  background: snow;
}

.bi-power{
  width:0.8em;
  height:0.8em;
  border: 1px solid #F29F24;
  color: #F29F24;
  border-radius: 10px;


}
