#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
}
#footer-home {
  color: #40AFFF;
  font-family: 'Abril Fatface', cursive;
  border-top-color: #F29F24
}

#modalRoleTitle {
  color: #F29F24;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  border-bottom-color: #F29F24
}
.modalBody {
  font-family: 'Merriweather', serif;
  border-color: white;

}
.btnForm {

  font-family: 'Merriweather', serif;
  border-color: #F29F24;
  margin-right: 40px;
  margin-left: 40px;
}

.spanAlert{
  color: red;
  font-family: 'Merriweather', serif;

}
