#image-logo {
  height: 200px;
  border-color: #259DF2;
  border-radius: 40px;
}

#text-register {
  text-align: center;
  color: #40AFFF;
  font-family: 'Abril Fatface', cursive;
  border-top: 2px solid #F29F24;
}

.labels-input, #roleSelect {
  font-family: 'Merriweather', serif;
  color: #40AFFF;
  font-size: 18px;
}

.btn {

  font-family: 'Merriweather', serif;
  border-color: #F29F24;
  margin-right: 40px;
  margin-left: 40px;
}

#password, #email, #name, #lastName, #reEmail, #rePassword{
  font-family: 'Merriweather', serif;
  border: 1px solid #F29F24;
  font-size: 16px;
}

