<div class="container">

  <div>
    <app-applicationnavbar></app-applicationnavbar>
  </div>

  <div class="display-3 mt-3 justify-content-center" id="text-register">

    <p>Perfil</p>

  </div>

  <div class="row mt-3 justify-content-center">
    <img src="../../../assets/profile_256.png" class="figure-img" alt="Responsive image"
         id="image-logo">
  </div>

  <form class="user-register mt-5">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" [disabled]="isDisable">
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputLastName">Apellidos</label>
        <input type="text" class="form-control" id="inputLastName" [disabled]="isDisable">
      </div>
    </div>

    <div class="form-row mt-3" id="inputsProfile">
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputPassword">Contraseña</label>
        <div class="input-group">
          <input type="password" class="form-control" id="inputPassword" aria-label=""
                 aria-describedby="basic-addon1" [disabled]="isDisable">
          <div class="input-group-append">
            <button class="btn btn-outline-primary btnEdit" type="button" (click)="openModalPass()">Editar</button>

          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputEmail">Email</label>
        <div class="input-group">
          <input type="email" class="form-control" id="inputEmail" aria-label=""
                 aria-describedby="basic-addon2" [disabled]="isDisable">
          <div class="input-group-append">
            <button class="btn btn-outline-primary  btnEdit" type="button" (click)="openModalEmail()">Editar</button>
          </div>
        </div>

      </div>

    </div>

  </form>







</div>
