<div class="container">

  <div>
    <app-applicationnavbar></app-applicationnavbar>
  </div>

  <div class="display-3 mt-3 justify-content-center" id="text-register">

    <p>Perfil</p>

  </div>

  <div class="row mt-3 justify-content-center">

    <img src="../../../assets/profile_256.png" class="figure-img" alt="Responsive image"
         id="image-logo">

  </div>

  <form class="user-register mt-5" novalidate>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label class="labels-input" for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" disabled>

      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputLastName">Apellidos</label>
        <input type="text" class="form-control" id="inputLastName" disabled>
      </div>
    </div>

    <div class="form-row mt-3" id="inputsProfile">
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputPassword">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" id="inputPassword" required
               autofocus>
        <div class="invalid-feedback">
          Debes introducir la contraseña debe tener 8 caracteres alfanuméricos
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="labels-input" for="inputEmail">Email</label>
        <input type="email" class="form-control" placeholder="Email" id="inputEmail" required autofocus>
        <div class="invalid-feedback">
          Email con formato invalido
        </div>
      </div>
    </div>


    <div class="form-row justify-content-center mt-3 ">

      <button class="btn btn-outline-primary" type="button">Aceptar</button>

      <button class="btn btn-outline-primary" type="button">Editar</button>


    </div>
  </form>

</div>
