
#text-register {
  text-align: center;
  color: #40AFFF;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
  border-top: 1px solid #F29F24;
  border-bottom: 1px solid #F29F24;

}

.labelsAssign {
  font-family: 'Merriweather', serif;
  color: #40AFFF;
  font-size: 18px;
}

.btn {

  font-family: 'Merriweather', serif;
  border-color: #F29F24;
}

#selectFamily,#selectTask{
  color: #259DF2;
  font-family: 'Merriweather', serif;
  border: 1px solid #F29F24;

}
