<div class="container">

  <div class="mt-1">

    <h1 id="text-register">Asignar Tareas</h1>

  </div>

  <div class="row p-3 justify-content-around">
    <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
                    [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
    </ngb-datepicker>

  </div>

  <form class="form-row">
    <div class="col-md">
      <label class="labelsAssign" for="selectFamily">Selecciona un familiar</label>
      <select class="form-control" id="selectFamily">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>


    <div class="col-md">
      <label class="labelsAssign" for="selectTask">Selecciona una tarea:</label>
      <select class="form-control" id="selectTask">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </form>

    <div class="form-row justify-content-center m-3">
      <button class="btn btn-outline-primary button-login" type="button">Aceptar</button>
    </div>


</div>
