
#text-register {
  text-align: center;
  color: #40AFFF;
  font-family: 'Abril Fatface', cursive;

}

.labelsAssign {
  font-family: 'Merriweather', serif;
  color: #40AFFF;
  font-size: 18px;

}

.btn {

  font-family: 'Merriweather', serif;
  border-color: #F29F24;
}

#selectFamily,#selectTask{
  color: #259DF2;
  font-family: 'Merriweather', serif;
  border: 1px solid #F29F24;

}
