<div class="container">

  <div class="display-4 mt-3 justify-content-center" id="text-register">
    <p>Asignar Tareas</p>

  </div>

  <div class="row mt-3 justify-content-around">
    <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
                    [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
    </ngb-datepicker>

  </div>

  <form class="form-row mt-3">
    <div class="col-md">
      <label class="labelsAssign" for="selectFamily">Selecciona un familiar</label>
      <select class="form-control" id="selectFamily">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>


    <div class="col-md">
      <label class="labelsAssign" for="selectTask">Selecciona una tarea:</label>
      <select class="form-control" id="selectTask">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </form>



    <div class="form-row justify-content-center m-5">
      <button class="btn btn-outline-primary button-login" type="button">Aceptar</button>
    </div>


</div>
