<div class="container">
  <div class="row mt-3 justify-content-center">

    <img src="../../../../assets/homework_200x200.png" class="figure-img" alt="Responsive image" id="image-logo">

  </div>

  <ul class="nav mr-auto justify-content-center" id="menu-links">
    <li class="nav-item active">
      <a class="nav-item nav-link  menu-items" href="#">Tareas </a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link  menu-items" href="#">Informes </a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link  menu-items" href="#">Perfil </a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link  menu-items" href="#">Familiar </a>
    </li>

  </ul>

</div>
